/* All element Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Common Style */
button {
    padding: 15px 60px;
    border-radius: 40px;
    border: none;
    background-color: pink;
    color: black;
    font-size: 23px;
    transition: all 0.4s;
}

button:hover {
    background-color: black;
    color: white;
}

/* Header Style */

header {
    background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('../Images/slide1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 500px;
    padding: 70px 220px 100px;
}

header .bottom h1 {
    color: white;
    font-size: 75px;
    line-height: 80px;
    max-width: 800px;
}

header .bottom div {
    display: flex;
    gap: 8px;
}

header .bottom i {
    font-size: 75px;
    color: white;
    transition: all 0.4s;
}

header .bottom i:hover {
    color: pink;
}

/* Navbar Style */

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    gap: 12px;
}

nav li {
    list-style: none;
    padding: 10px 15px;
    transition: all 0.4s;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

nav li:first-child {
    color: black;
    background-color: pink;
    border-radius: 25px;
}

nav li:hover {
    color: black;
    background-color: pink;
    border-radius: 25px;
}

/* Main section style */

main {
    padding: 80px 150px;
}

/* About section style */

.about {
    padding: 80px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    font-size: 75px;
    font-weight: 600;
}

.about p {
    font-size: 22px;
    line-height: 25px;
    margin: 30px auto 60px;
    text-align: center;
    line-height: 35px;
}

.about hr {
    width: 300px;
    height: 2px;
    color: black;
    background-color: black;
}

.about h2 {
    font-size: 25px;
    color: gray;
    margin: 45px auto 25px;
}

.about small {
    color: gray;
    margin-bottom: 50px;
}

.about span {
    font-size: 14px;
    display: block;
}

/* Image Gallery Section style */

.image-gallery {
    padding: 10px 0 80px;
}

.image-gallery .first-gallery {
    display: flex;
    align-items: center;
    gap: 25px;
}

.image-gallery .first-gallery div {
    position: relative;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.4s;
}

.image-gallery .first-gallery div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.4), rgba(117, 19, 93, 0.5));
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

.image-gallery .first-gallery div:hover::before{
    opacity: 1;
}

.image-gallery .first-gallery img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.image-gallery .first-gallery div:hover img {
    transform: scale(1.2);
}

.image-gallery .first-gallery p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
}

.image-gallery .first-gallery i {
    display: none;
    position: absolute;
    left: 45%;
    top: 45%;
    font-size: 60px;
    color: white;
    transition: all 0.4s;
}

.image-gallery .first-gallery div:hover i {
    display: block;
}

/* Second Gallery Image style */

.second-gallery{
    margin: 30px auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.second-gallery iframe{
    border-radius: 20px;
}