
/* All element Styles */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Common Style */
button{
    padding: 15px 60px;
    border-radius: 40px;
    border: none;
    background-color: pink;
    color: black;
    font-size: 23px;
    transition: all 0.4s;
}

button:hover{
    background-color: black;
    color: white;
}

/* Header Style */

header{
    background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('../Images/slide1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 500px;
    padding: 70px 220px 100px;
}

header .bottom h1{
    color: white;
    font-size: 75px;
    line-height: 80px;
    max-width: 800px;
}

header .bottom div{
    display: flex;
    gap: 8px;
}

header .bottom i{
    font-size: 75px;
    color: white;
    transition: all 0.4s;
}

header .bottom i:hover{
    color: pink;
}

/* Navbar Style */

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul{
    display: flex;
    gap: 12px;
}

nav li {
    list-style: none;
    padding: 10px 15px;
    transition: all 0.4s;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

nav li:first-child{
    color: black;
    background-color: pink;
    border-radius: 25px;
}

nav li:hover{
    color: black;
    background-color: pink;
    border-radius: 25px;
}

/* Main section style */

main{
    padding: 80px 150px;
}

/* About section style */

.about{
    padding: 80px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1{
    font-size: 75px;
    font-weight: 600;
}

.about p{
    font-size: 22px;
    line-height: 25px;
    margin: 30px auto 60px;
    text-align: center;
    line-height: 35px;
}

.about hr{
    width: 300px;
    height: 2px;
    color: black;
    background-color: black;
}

.about h2{
    font-size: 25px;
    color: gray;
    margin: 45px auto 25px;
}

.about small{
    color: gray;
    margin-bottom: 50px;
}

.about span{
    font-size: 14px;
    display: block;
}



